<div class="user">
	<h1>{{vm.formname}}</h1>
<form name={{vm.formname}}  novalidate ng-submit="vm.submitForm();" autocomplete="off">

<div ng-if="vm.shows.name"><label for="nombre">Nombre:</label>
    <input
      type="text"
      name="nombre"
      required="required"
      placeholder="Nombre"
			autocomplete="off"
      ng-model="vm.contact.name"
      >
  </div>

	<div ng-if="vm.shows.nameSearch"><label for="nombre">Nombre:</label>
	    <input
	      type="text"
	      name="nombre"
	      placeholder="Nombre"
				autocomplete="off"
	      ng-model="vm.contact.name"
	      >
	  </div>

  <div ng-if="vm.shows.surname"><label for="surname">Apellidos</label>
    <input
      type="text"
      name="surname"
      placeholder="Apellidos"
			autocomplete="off"
      ng-model="vm.contact.surname">
  </div>

  <div ng-if="vm.shows.tel"><label for="telefono">Telefono</label>
    <input
      type="text"
      name="telefono"
      required="required"
			autocomplete="off"
      placeholder="Telefono"
      ng-model="vm.contact.tel"
			ng-pattern="/^\+?\d{2}[-]?\d{3}[-]?\d{3}[-]?\d{3}$/"
			>
  </div>

	<div ng-if="vm.shows.telSearch"><label for="telefono">Telefono</label>
		<input
			type="text"
			name="telSearch"
			autocomplete="off"
			placeholder="Telefono"
			ng-model="vm.contact.telSearch"
			>
	</div>

  <div class="user-button">
    <button class="button" type="submit" ng-disabled="{{vm.formname}}.$invalid">
      {{vm.boton}}
    </button>
  </div>
</form>
</div>

<span class="message error" ng-show="{{vm.formname}}.telefono.$error.pattern">
		Introduzca un numero de telefono valido +XX XXX-XXX-XXX
</span>
