*
{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
	padding:0
}
body
{
	font:300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#5c5c5c;
	background:#FFFFFF
}
a
{
	color:#5c5c5c;
	text-decoration:none
}
input
{
	font-size:16px;
	padding:10px 15px;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:9px
}
input:hover
{
	border-color:rgba(0,133,215,0.6)
}
input:focus
{
	border-color:#0085d7;
	outline:none
}
button
{
	background:rgba(0,133,215,0.6);
	color:#fff;
	border-radius:3px;
	font-size:16px;
	border:none;
	cursor:pointer;
	padding:10px 15px;
	margin-bottom:3px;
	margin-top: 10px
}
button:hover
{
	background:#0085d7;
	box-shadow:0 3px 0 0 #006cae
}
button:focus
{
	outline:none
}
button:active,button:focus
{
	outline:none;
	background:#006cae;
	box-shadow:0 3px 0 0 #005385;
	margin-bottom:1px
}
button[disabled]
{
	background:rgba(0,0,0,0.05);
	color:rgba(0,0,0,0.4);
	cursor:not-allowed;
	box-shadow:0 3px 0px 0px rgba(0,0,0,0.1)
}

.user
{
	background:#fff;
	border:2px solid rgba(0,0,0,0.1);
	box-shadow:0 5px 15px rgba(0,0,0,0.1);
	padding:20px 30px;
	width:400px;
	height: 350px
}
.user__info
{
	text-align:center;
	margin-top:20px
}
.user__info a
{
	font-size:12px
}
.user__info a:hover
{
	text-decoration:underline
}
.user h1
{
	margin:0 0 10px
}
.user label
{
	margin-bottom:10px;
	display:block
}
.user input
{
	width:100%
}
.user-button
{
	text-align:center
}

.message:not(:first-child) {
    margin-top: 15px
}

.message.error {
    color: #B72B2C
}
