/*@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot?#iefix) format('embedded-opentype'),/* For IE6-8 */
       local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;  /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  width: 1em;
  word-wrap: normal;
}
.white{
  color:white;
}
.user__info
{
	text-align:center;
	margin-top:20px
}
.user__info a
{
	font-size:12px
}
.user__info a:hover
{
	text-decoration:underline
}
.header {
  background: -webkit-linear-gradient(top, #006cae, #656565);
  background: -ms-linear-background(top, #006cae, #656565);
  height: 40px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.appname{
  display: inline-block;
  color: #FFF;
  font-family: OpenSans;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 11px;
  left: 200px;
}
.bloqUser{
  display: inline-block;
  float:right;
  width: 40%;
  background: -webkit-linear-gradient(top, #006cae, #656565);
 background: -ms-linear-background(top, #006cae, #656565);
  height: 40px;
  padding-left: 20px;
}
.cab-iconos{
  float: right;
}
.cab-iconos ul{
  position:absolute;
  right:22px;
  top:6px;
}
.cab-iconos ul li{
display:inline-block;
padding-left:26px;
}
.cab-iconos ul li a{
color:#fff;
font-size:28px;
opacity:0.9;

 text-decoration:none;
}
.cab-iconos ul li a:hover{
opacity:1;

 text-decoration:none;
}
.table_data
{
	background:#fff;
	border:2px solid rgba(0,0,0,0.1);
	box-shadow:0 5px 15px rgba(0,0,0,0.1);
	padding:20px 30px;
	width:auto;
  height: 350px;
}
.container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
}
.container:after {
  display: block;
  content: " invisible node "
  flex(999 999 auto)
}
.item {
  flex: 0 0 auto;
  width: 50%
  margin: 10px;
  margin: 5em 1em 0 0
}
.datagrid table {
  border-collapse: collapse;
  text-align: left;
}
.datagrid {
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; border-radius: 3px;
  overflow-y: auto;
}
.datagrid table td, .datagrid table th {
  padding: 3px 10px;
}
.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699;
  color:#FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
}
.datagrid table thead th:first-child {
  border: none;
}
.datagrid table tbody td {
  color: #00496B;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  border-bottom: 1px solid #E1EEF4;
  font-weight: normal;
}
.datagrid table tbody .alt td {
  background: #E1EEF4; color: #00496B;
}
.datagrid table tbody td:first-child {
  border-left: none;
  }
.datagrid table tbody tr:last-child td {
  border-bottom: none;
}
