<div  ng-controller="contactsController as vm">



    <div class="header">
  			<p class="appname">{{vm.name}}</p>
  			<div class="bloqUser">
  				<div class="cab-iconos">
  					<ul>
  					<li ng-click="vm.searchForm();"><i class="material-icons white">search</i></li>
            <li ng-click="vm.addForm();"><i class="material-icons white">add</i></li>
            <li ng-click="vm.refreshForm();"><i class="material-icons white">refresh</i></li>
  					</ul>
  				</div>
  		</div>
	 </div>

   <div class="container">

       <contact-form class="item"
         formname="Nuevo"
         boton="Añadir"
         shows="vm.pageData.shows"
         ng-if="vm.add"
         on-submit ="vm.addUser($event)">
       </contact-form>

       <contact-form class="item"
         formname="Buscar"
         boton="Buscar"
         shows="vm.pageData.shows"
         ng-if="vm.search"
         on-submit="vm.searchContact($event)">
       </contact-form>

     <div class="item table_data datagrid">
       <table>
         <thead>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th></th>
            <th></th>
         </th>
       </thead>
       <tbody>
         <tr ng-repeat="contact in vm.contacts" id="{{$index+1}}"
          data-id="{{$index+1}}">
           <td>{{contact.name}}</td>
           <td>{{contact.surname}}</td>
           <td>{{contact.tel}}</td>
           <td ng-click="vm.edit($index)">
                 <i class="material-icons">edit</i>
           </td>
           <td ng-click="vm.delete(contact,$index)">
                 <i class="material-icons">delete</i>
           </td>
         </tr>
       </tbody>
       </table>
     </div>
   </div>



</div>
