<div class="" ng-controller="editController as vm">

      <div class="container">

        <contact-form class = "item"
          formname="Editar"
          boton="Guardar"
          shows="vm.pageData.shows"
          contact="vm.pageData.contact"
          on-submit ="vm.updateUser($event)"
          >
        </contact-form>
      </div>

      <div class="user__info">
      		<a ui-sref="home">
      			volver
      		</a>
      </div>
</div>
